body {
  font-family: 'Roboto', sans-serif;
  background: #2BC0E4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EAECC6, #2BC0E4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EAECC6, #2BC0E4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  background-color: #2980b9;
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
}

input {
  color: #2980b9;
  display: none;
  border: solid 3px RGBA(0,0,0,0);
  background-color: #f7f7f7;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1.1rem;
  padding: 13px 13px 13px 20px;
  width: 100%;
}


input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: white;
  color: #666;
  height: 40px;
  line-height: 2.5;

}

li:nth-child(2n+0) {
  background-color: #f7f7f7;
}

li:hover span{
width: 40px;
opacity: 1;
}

li span{
  background-color: #e74c3c;
  display:inline-block;
  margin-right: 20px;
  text-align: center;
  width: 0;
  color: white;
  height: 40px;
  opacity: 0;
  transition: 0.2s linear;
  /* padding-top: 5px; */

}

#container {
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  width: 360px;
}

.fa-plus-square{
  float: right;
}
.fa-plus-square:hover {
  color: rgb(177, 130, 237);
}
.completed {
  color: grey;
  opacity: .5;
  text-decoration: line-through;
}
